table {
    margin: auto;
    width: 550px;
    height: 550px;
    border: solid 5px #1a2a19;
    border-radius: 10px 10px 10px 10px ; 
    margin-top: 7%;
    margin-right: 55%;
}

div {
    display: inline-flex;
    justify-content: space-around;
    color: rgb(114, 25, 22);
}

th {
    margin: auto;
    width: 50px;
    height: 50px;
    border: solid 4px rgb(123, 27, 24);
    border-radius: 10px 10px 10px 10px ; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(243, 209, 205);
}

body{
    background: linear-gradient(to left, #f1f2f6, #c8a874);
}

