{% extends 'base.html' %}
{% block title %}Board{% endblock %}
{% block content %} 

<table>
    <tr>
    {% for num in range(width) %}
        <th><div>{{full_board[num][num]}}</div></th>
    {% endfor %}
    </tr>
    {% for num in range(height) %}
        <tr>
        {% for num1 in range(width) %}
            <th><div>{{full_board[num][num1]}}</div></th>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
<form>
    <input type="text" placeholder="Guess a Word!" name="guess">
    <button>Submit</button>
</form>

{% endblock %}
